main {
    padding-top: 50px;
    text-align: center;
}

h1, p {
    text-align: center;
}

.question {
    font-weight: 800;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#time {
    text-align: right;
}

#startButton, #submitButton {
    background-color: rgb(75, 13, 75);
    color: white;
    border: white;
    margin: 2%;
    border-width: 2%;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    border-radius: 5px;
}
ol {
    background-color: rgb(136, 66, 136);
    color: white;
    margin: 2%;
    border-style: solid; 
    border-color: white;
    font-weight: 300;
    font-size: 12px;
    border-radius: 5px;
}

#status {
    width: auto;
    text-align: left;
    color: lightgray;
}

#rightOrWrong {
    text-align: left;
    color: lightgray;
    margin-left: 5%;
}

#form {
    padding: 0;
    margin: 0;
    align-items: center;
}

#staticEmail {
    border: black;
}


/* these classes are the toggle for the correct/wrong notification 
after each quiz response */
.hidden, .visible {
    visibility: hidden;
    width: auto;
    color: lightgray;
}

