main {
    padding-top: 50px;
    text-align: center;
}

h1, p {
    text-align: center;
}

#time {
    text-align: right;
}

#buttons {
    color: rgb(75, 13, 75);
}

#status {
    width: auto;
    text-align: left;
    color: lightgray;
}

#rightOrWrong {
    text-align: left;
    color: lightgray;
    margin-left: 5%;
}

#form {
    padding-top: 10%;
}

#staticEmail {
    border: black;
}


/* these classes are the toggle for the correct/wrong notification 
after each quiz response */
.hidden, .visible {
    visibility: hidden;
    width: auto;
    color: lightgray;
}

